
.slf-calculator {

	/* Layout */

	.slf-calculator-container {
		margin: 0 -4%;

		form, .slf-calculator-result {
			padding: 0 4%!important
		}

		form {
			width: 35%;
			float: left;
		}

		.slf-calculator-result {
			float: left;
			width: 65%;
		}
	}

	/* Typography */

	form {

		.spinner {
			display: table;
			margin-top: 0.2em;
			margin-bottom: 0.5em;

			button {
				width: 35px;
				height: 35px;
				display: block;
				float: left;
				padding: 0;
			}

			input[type="number"] {
				width: 35px;
				height: 35px;
				text-align: center;
				display: block;
				float: left;
			}

			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		.slf-calculator-question {
			margin-bottom: 1em;
		}

		span:first-child {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		span, label {
			display: block;
		}

		input[type=radio] {
			margin-right: 0.3em;
		}
	}

	.slf-calculator-result {

		margin-top: -1em;

		h5 {
			text-transform: none;
			margin: 1em 0;
		}

		.slf-calculator-key-word {
//			font-weight: bold;
		}
	}

	.slf-calculator-result-tabs {
		display: table;
		width: 100%;

		a {
			border: none;
			&.active {
				font-weight: bold;
			}
		}

	}
}
